Repository BinaryStudioAcademy/bsa-2022-autoline, pull requests merged in 2022-09, with the labels that each got.

#163 fix the bug 24 (did not compile template file)
  backend/src/services/mail-verification/send-activation-link/send-link.ts
Labels: fix

#164 removed <Model> column from filtered list
  backend/yarn.lock
  frontend/src/components/complete-set-table/complete-set-table.tsx
  yarn.lock
Labels: frontend

#166 corrected verify link (deleted http)
  backend/src/services/mail-verification/send-activation-link/templates/email-template.ts
Labels: backend, fix

#156 Fixed Bug_28 - can't unlike the model when the page is not refreshed
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/store/queries/preferences/wishlist/index.ts
  shared/src/common/types/preferences/preferences.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
  shared/src/common/types/types.ts
Labels: frontend, fix

#157 pesonal-page/User-info-panel
  frontend/package.json
  frontend/src/assets/images/arrow-right-left.svg
  frontend/src/assets/images/eye.svg
  frontend/src/components/personal-page/personal-page.tsx
  frontend/src/components/user-info-panel/styles.module.scss
  frontend/src/components/user-info-panel/user-info-panel.tsx
  frontend/src/components/viewed-cars/viewed-cars.tsx
  frontend/yarn.lock
Labels: frontend

#169 fixed validation rules for editing user by admin
  shared/src/validation-schemas/edit-user/edit-user.validation-schema.ts
Labels: fix

#165 Fix Bug_29 Advanced filter- Search results
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Labels: fix

#172 Optamization history of viewed cars process
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/routes/viewed-cars/viewed.router.ts
  frontend/src/components/viewed-cars/viewed-cars.tsx
  frontend/src/store/queries/history-viewed-cars/index.ts
  shared/src/common/types/types.ts
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
  shared/src/common/types/viewed-cars/viewed-cars.ts
Labels: backend, frontend

#174 personal page/actions counter logic
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  frontend/src/components/user-info-panel/user-info-panel.tsx
Labels: frontend

#176 Changed filters ordering
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Labels: frontend, fix

#177 moved cars photos to gyazo cloud
  backend/api-autoria/cars/cars-data.ts
  frontend/src/components/landing-page/mock-top-cars.ts
Labels: frontend, fix

#168 Add endpoints for comparisons
  backend/package.json
  backend/prisma/migrations/20220829141357_comparisons_table/migration.sql
  backend/prisma/migrations/20220830135327_user_id_column_to_comparison/migration.sql
  backend/prisma/migrations/20220901081730_comparison_default_type/migration.sql
  backend/prisma/migrations/20220901090916_comparisons_complectations_unique/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/comparisons/comparisons.service.ts
  backend/src/services/new-cars/new-cars.service.ts
Labels: backend

#170 fix paths to the templates
  backend/src/helpers/mailtrap/mailtrap.ts
  backend/src/services/auth/auth.service.ts
  frontend/src/components/reset-password/reset-password.tsx
Labels: fix

#171 changed height for menu lists
  frontend/src/assets/css/form.scss
Labels: frontend

#173 added better view for "No cars found" and Top Autoria cars added
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/search-page/styles.module.scss
  frontend/src/components/top-cars-autoria/styles.module.scss
  frontend/src/components/top-cars-autoria/top-cars-autoria.tsx
Labels: frontend

#178 fix/Reduced engine displacement to 6L
  frontend/src/common/enums/car/ranges.ts
Labels: frontend, fix

#179 photos on s3 cloud
  backend/api-autoria/cars/cars-data.ts
  frontend/src/components/landing-page/mock-top-cars.ts
Labels: frontend, fix

#180 Added brand-details remove button
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/advanced-auto-filter/brand-details/styles.module.scss
  frontend/src/store/car-filter/slice.ts
Labels: frontend, fix

#183 Fixed header position to static
  frontend/src/components/header/header.tsx
Labels: frontend, fix

#181 Smooth scrolling to top after search click
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
Labels: frontend

#189 Sorted options by autoria_code
  backend/src/services/cars/cars.service.ts
Labels: backend, fix

#188 change validation message in admin panel
  shared/src/common/enums/validation/user-validation-message.enum.ts
Labels: fix

#187 remove heart and comparison icons from top-car-card
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/components/top-car-card/top-car-card.tsx
Labels: frontend, fix

#184 Fix/logout button
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/header/drawer/styles.module.scss
  frontend/src/components/header/header.tsx
Labels: frontend, fix

#182 Add oauth connect to edit profile
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/sign-in/oauth/connect-oauth.tsx
  frontend/src/components/edit-profile/sign-in/sign-in.tsx
  frontend/src/store/queries/user/update-user.ts
Labels: backend, frontend

#191 fix refresh token generation
  backend/src/services/auth/auth.service.ts
Labels: fix

#161 Where buy front
  backend/src/common/enums/app/route-path.enum.ts
  frontend/src/assets/images/logo-autoria.png
  frontend/src/components/where-buy/styles.module.scss
  frontend/src/components/where-buy/where-buy-component/styles.module.scss
  frontend/src/components/where-buy/where-buy-component/where-buy-component.tsx
  frontend/src/components/where-buy/where-buy.tsx
  frontend/src/navigation/routing/routing.tsx
Labels: frontend

#186 fix redirect link
  backend/src/common/enums/app/env.enum.ts
  backend/src/helpers/mailtrap/templates/reset-password-request.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/send-activation-link/constants.ts
Labels: fix

#193 Sticky scrollable filter form + fix reset filters button
  frontend/src/common/types/title/title.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/common/title/title.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/search-page/search-page.tsx
  frontend/src/helpers/utils/get-element-height-with-margins.ts
  frontend/src/helpers/utils/get-height-by-position.ts
Labels: frontend, fix

#194 fix autoria request
  backend/src/common/types/cars/autoria-request-params.ts
  backend/src/controllers/cars/cars.controller.ts
  backend/src/services/cars/cars-search.service.ts
Labels: backend, fix

#195 Fixed bug 34 (field names in admin panel)
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/components/edit-profile/select-field-form/select-field-form.tsx
Labels: fix

#202 Fix bug_53: logout should lead to the main page
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/header/header.tsx
  frontend/src/store/auth/middlewares.ts
  frontend/src/store/auth/slice.ts
  frontend/src/store/queries/index.ts
Labels: fix

#210 disable reset password button after submit
  frontend/src/common/types/button/button.ts
  frontend/src/components/common/button-fill/button-fill.tsx
  frontend/src/components/common/button-fill/styles.module.scss
  frontend/src/components/forgot-password/forgot-password.tsx
Labels: fix

#175 connect simple search with backend
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
  frontend/src/store/found-car/slice.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Labels: frontend

#196 Added Wishlist delete notification
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/routes/preferences/wishlist.router.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/common/notification/styles.module.scss
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/contexts/wishlist-context.tsx
  frontend/src/main.tsx
  frontend/src/store/queries/preferences/wishlist/index.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
  shared/src/common/types/cars/model.ts
Labels: backend, frontend

#204 feature/not-found-page
  frontend/src/assets/images/not-found-page/crashed-car.svg
  frontend/src/assets/images/not-found-page/left-circles.svg
  frontend/src/assets/images/not-found-page/right-circles.svg
  frontend/src/components/not-found-page/not-found-page.tsx
  frontend/src/components/not-found-page/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
Labels: frontend

#205 remove add button from simple search
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Labels: frontend, fix

#206 Fix/edit page validation
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/header.tsx
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Labels: backend, frontend, fix

#208 Changed fuels names
  backend/api-autoria/cars/fetched-data/fuel-types.json
Labels: backend, fix

#211 bug_40 (fixed access to administration route)
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/services/user/user.service.ts
  frontend/src/components/header/drawer/drawer.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/user/update-user.ts
Labels: fix

#201 Fixed bug 37 (ability to save empty optional fields on edit user form by admin)
  shared/src/validation-schemas/edit-user/edit-user.validation-schema.ts
Labels: fix

#200 Fixed bug 36 (added validation unique email for editing user by admin)
  backend/src/controllers/users/users.controller.ts
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/users/edit-user.middleware.ts
  backend/src/routes/user/user.router.ts
  backend/src/services/users/users.service.ts
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
  shared/src/index.ts
Labels: fix

#213 fix/not-found-page-text
  frontend/src/components/not-found-page/not-found-page.tsx
Labels: fix

#214 fix/personal-page/rename "liked it" item
  frontend/src/components/user-info-panel/user-info-panel.tsx
Labels: fix

#217 Fixed fields names in edit profile
  frontend/src/components/edit-profile/edit-profile.tsx
Labels: frontend, fix

#209 Add comparison counter logic frontend
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/common/enums/comparisons/comparison-type.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/comparisons/comparisons.type.ts
  frontend/src/common/types/types.ts
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/components/header/header.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/contexts/compare-context.tsx
  frontend/src/main.tsx
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/comparisons/index.ts
  frontend/src/store/queries/index.ts
Labels: frontend

#215 Timer to hide the notification
  frontend/src/assets/css/animations.scss
  frontend/src/assets/css/styles.scss
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/common/notification/styles.module.scss
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/components/compare-toast/styles.module.scss
Labels: frontend

#197 Multiselect component for bodyType, model, fuel, color
  backend/api-autoria/cars/cars-data.ts
  frontend/src/assets/css/form.scss
  frontend/src/assets/css/styles.scss
  frontend/src/common/types/cars/brand-details.type.ts
  frontend/src/common/types/cars/checkbox-list-data.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/common/autocomplete-input/autocomplete-input.tsx
  frontend/src/components/common/autocomplete-input/styles.module.scss
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/common/multiselect-input/multiselect-input.tsx
  frontend/src/components/common/multiselect-input/styles.module.scss
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/car-filter/slice.ts
  frontend/src/store/selectors/car-filter-selectors.ts
Labels: frontend, fix

#216 Upload user photo
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/types/file/file.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/photo/photo.middleware.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/aws/aws.service.ts
  backend/src/services/user/user.service.ts
  backend/yarn.lock
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/store/queries/user/update-user.ts
  shared/src/common/enums/enums.ts
  shared/src/common/enums/validation/file-validation-rule.enum.ts
  shared/src/common/enums/validation/validation.ts
  shared/src/common/validation-schemas/index.ts
  shared/src/common/validation-schemas/user-photo.validation-schema.ts
  shared/src/index.ts
Labels: backend, frontend

#219 Fixed redundant signup user fields
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Labels: frontend, fix

#220 Fixed that Account doesn't lead anywhere
  frontend/src/components/header/header.tsx
Labels: frontend, fix

#198 Add liking functionality to search list
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/common/like-button/like-button.tsx
  frontend/src/components/common/like-button/styles.module.scss
  frontend/src/store/queries/preferences/middlewares.ts
  frontend/src/store/queries/preferences/wishlist/index.ts
  frontend/src/store/selectors/index.ts
  frontend/src/store/store.ts
Labels: backend, frontend

#222 fix compare toastr opening instead of hiding
  frontend/src/components/compare-toast/compare-toast.tsx
Labels: frontend, fix

#226 added prefix https:// for email verification link
  backend/src/services/mail-verification/send-activation-link/templates/email-template.ts
Labels: backend, fix

#221 General comparison table
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/components/general-comparison-table/styles.module.scss
  frontend/src/store/queries/comparisons/index.ts
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/comparison.ts
  shared/src/common/types/types.ts
Labels: backend, frontend

#230 fix reset password validation message
  shared/src/common/enums/validation/user-validation-message.enum.ts
Labels: fix

#231 Comparison popup view
  frontend/src/assets/images/trash.svg
  frontend/src/components/comparison-popup/car-card/car-card.tsx
  frontend/src/components/comparison-popup/car-card/styles.module.scss
  frontend/src/components/comparison-popup/comparison-popup.tsx
  frontend/src/components/comparison-popup/styles.module.scss
Labels: frontend

#218 Fix token payload logic
  backend/src/common/types/controller/controller.ts
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/dtos/user/update-user.dto.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
  backend/src/routes/routes.ts
  backend/src/routes/test-protected-route/protected.router.ts
  backend/src/server.ts
Labels: backend, fix

#224 Added functions for scraping autoria prices on backend
  backend/.gitignore
  backend/package.json
  backend/src/common/enums/app/app.ts
  backend/src/common/enums/app/links-to-resources.enum.ts
  backend/src/common/types/cars/autoria-request-params.ts
  backend/src/common/types/types.ts
  backend/src/controllers/cars/cars.controller.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/helpers/logger/logger.ts
  backend/src/server.ts
  backend/src/services/cars/cars-search.service.ts
  backend/src/services/cars/cars-update.service.ts
  backend/yarn.lock
Labels: backend

#236 fixed bug 55 with editing user by admin
  backend/src/services/users/users.service.ts
Labels: fix

#243 Fixed brands slider (overlapping)
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/swiper-params.ts
Labels: frontend, fix

#241 fix user validation messages
  shared/src/common/enums/validation/user-validation-message.enum.ts
Labels: fix

#234 fix/Bug_58 Simple form ruined when adding several brands in Advanced Search
  frontend/src/assets/css/form.scss
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/common/multiselect-input/styles.module.scss
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Labels: frontend, fix

#244 Fix/adaptive edit page header
  frontend/src/assets/css/form.scss
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/edit-profile/sign-in/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
Labels: frontend

#239 Add sub-tables for each option type
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/components/comparison-options-table/options-subtable.tsx
  frontend/src/components/comparison-options-table/styles.module.scss
  frontend/src/store/queries/comparisons/index.ts
Labels: frontend

#233 connect-the-characteristics-menu-with-the-backend
  backend/src/services/complectations/complectations.service.ts
  frontend/src/components/characteristics-list/characteristics-group/characteristics-group.tsx
  frontend/src/components/characteristics-list/characteristics-group/styles.module.scss
  frontend/src/components/characteristics-list/characteristics-list.tsx
  frontend/src/components/characteristics-list/helpers/helpers.ts
  frontend/src/components/characteristics-list/styles.module.scss
  shared/src/common/types/complectations/complectations.ts
Labels: backend

#240 Fix content alignment
  frontend/src/assets/images/landing-page/picture.png
  frontend/src/components/cars-categories/styles.module.scss
  frontend/src/components/header/header.tsx
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/search-page/styles.module.scss
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/components/top-cars-autoria/styles.module.scss
  frontend/src/components/top-cars-autoria/top-cars-autoria.tsx
Labels: frontend, fix

#237 add-to-complete-set-like-icons-for-detailed-page
  frontend/src/common/types/complete-set/complete-set.ts
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/styles.module.scss
Labels: frontend

#227 Create applied filters bar
  frontend/src/common/enums/car/car-filters-names.enum.ts
  frontend/src/common/types/cars/applied-filter.type.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/common/types/cars/range-filters.type.ts
  frontend/src/common/types/cars/range-item.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/applied-filters-bar/styles.module.scss
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/helpers/car-filters/get-range-symbol.ts
  frontend/src/helpers/car-filters/range-filters-to-object.ts
  frontend/src/store/car-filter/slice.ts
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/selectors/car-filter-selectors.ts
Labels: frontend

#235 setting-the-carousel-to-detailed-page-layout
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/common/carousel/styles.scss
Labels: frontend

#247 New cars + fix in simple filter
  backend/api-autoria/cars/cars-data.ts
  backend/prisma/seed.ts
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Labels: backend, frontend, fix

#250 fixed limit length of the name and email on admin panel
  frontend/src/components/administration/users/styles.module.scss
  frontend/src/components/administration/users/users-list.tsx
Labels: fix

#245 updated complectations data
  backend/api-autoria/cars/cars-data.ts
Labels: backend, fix

#248 create detailed page
  backend/src/services/cars/cars.service.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/complete-set-table/complete-set-table-collapsed.tsx
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/details-page/collapse-block/collapse-block.tsx
  frontend/src/components/details-page/collapse-block/styles.module.scss
  frontend/src/components/details-page/details-page.tsx
  frontend/src/components/details-page/styles.module.scss
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
  shared/src/common/types/cars/model.ts
Labels: backend, frontend

#251 Add About page
  frontend/src/assets/images/team/alena-khudoleeva.jpg
  frontend/src/assets/images/team/andrii-ilnitskyi.jpg
  frontend/src/assets/images/team/bohdan-mazur.jpg
  frontend/src/assets/images/team/iryna-burianovata.jpg
  frontend/src/assets/images/team/margarita-kyianytsia.jpg
  frontend/src/assets/images/team/mykyta-komarov.jpg
  frontend/src/assets/images/team/oleksander-khapchenko.jpg
  frontend/src/assets/images/team/oleksandr-danylchenko.jpg
  frontend/src/assets/images/team/oleksandr-shulga.jpg
  frontend/src/assets/images/team/oleksii-rudych.jpg
  frontend/src/assets/images/team/roman-mahola.jpg
  frontend/src/assets/images/team/serhii-tarasuik.jpg
  frontend/src/assets/images/team/stanislav-ostroverh.jpg
  frontend/src/assets/images/team/viktoria-riashyna.jpg
  frontend/src/assets/images/team/vlad-medianyk.jpg
  frontend/src/assets/images/team/vladyslav-brovarenko.jpg
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/about-page/about-page.tsx
  frontend/src/components/about-page/styles.module.scss
  frontend/src/components/about-page/team-members.ts
  frontend/src/components/header/header.tsx
  frontend/src/navigation/routing/routing.tsx
Labels: frontend

#255 Backend/get complectations of model
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars.service.ts
Labels: backend

#257 Fixed access to routes
  frontend/src/components/header/header.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/auth/slice.ts
Labels: frontend, fix

#258 Replaced header bell icon
  frontend/src/components/header/header.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
Labels: frontend

#263 Add compare button to details page
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/styles.module.scss
  frontend/src/contexts/compare-context.tsx
Labels: frontend

#246 Add recent search cars section
  backend/package.json
  backend/prisma/migrations/20220907125608_users_searches_cars/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/recent-search-cars/recent-search-cars.controller.ts
  backend/src/routes/recent-search-cars/recent-search-cars.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/recent-search-cars/resent-search-cars.service.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/recent-serach-cars/index.ts
  shared/src/common/types/recent-search-cars/recent-searh-cars.ts
  shared/src/common/types/types.ts
Labels: backend, frontend

#253 Fix/edit profile duplicate
  .env.example/backend.env
  backend/package.json
  backend/src/common/enums/aws/aws.ts
  backend/src/common/enums/aws/s3-folders.ts
  backend/src/common/enums/image/image.ts
  backend/src/common/enums/image/profile-image-size.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/users/delete-user-photo/delete-user-photo.ts
  backend/src/helpers/users/users.ts
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/services/aws/aws.service.ts
  backend/src/services/photo/photo.service.ts
  backend/src/services/user/user.service.ts
  backend/yarn.lock
  frontend/src/assets/css/form.scss
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/select-field-form/styles.module.scss
  frontend/src/components/edit-profile/sign-in/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
  frontend/src/store/queries/user/update-user.ts
  shared/src/common/validation-schemas/update-user.validation-schema.ts
Labels: backend, frontend, fix

#259 fix bug 71 edit profile start/end years
  frontend/src/components/edit-profile/edit-profile.tsx
Labels: frontend, fix

#265 fix/Bug_70 Empty pills in applied filters bar
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/car-models/slice.ts
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
Labels: frontend, fix

#267 Fix add viewed cars
  backend/src/helpers/viewed-cars/viewed-cars.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
  frontend/src/components/details-page/details-page.tsx
  frontend/src/components/viewed-cars/viewed-cars.tsx
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Labels: backend, frontend, fix

#268 added logging to Sentry for cron task
  backend/src/server.ts
  backend/src/services/cars/cars-update.service.ts
Labels: backend

#266 fix/Bug_68 Show applied filters after search
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/applied-filters-bar/applied-filters-bar.tsx
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/details-page/details-page.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/helpers/object-to-query.ts
  frontend/src/store/selectors/car-filter-selectors.ts
Labels: frontend, fix

#272 Bug_75: On the search page, the transition to the detailed page by complectation works only for Mazda 6
  frontend/src/components/complete-set-table/complete-set-table-collapsed.tsx
Labels: bug, frontend

#273 fix bug 73
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  shared/src/common/types/cars/model.ts
Labels: backend, frontend, fix

#271 Make clickable viewed cars
  backend/src/helpers/viewed-cars/viewed-cars.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
  frontend/src/components/viewed-cars/components/short-car-card/short-car-card.tsx
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Labels: frontend

#225 add comparisons-top-table-bar functionality
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/common/icons/trash-can/trash-can.tsx
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/comparison.tsx
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/comp-top-table-bar/components/no-active-comparison.tsx
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
  frontend/src/store/queries/comparisons/index.ts
  shared/src/common/types/comparisons/comparison-info.ts
  shared/src/common/types/types.ts
Labels: backend, frontend

#274 Fix/viewed cars/eliminated the need for model id
  backend/prisma/migrations/20220911164915_fix_user_viewed_cars/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
  frontend/src/components/details-page/details-page.tsx
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Labels: backend, fix

#252 make sequential notifications
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/common/notification/styles.module.scss
  frontend/src/contexts/wishlist-context.tsx
Labels: frontend, fix

#254 fix max password length
  shared/src/common/enums/validation/user-validation-rule.enum.ts
  shared/src/validation-schemas/forgot-password/forgot-password.validation-schema.ts
Labels: fix

#269 bug_74 Redirect to detailed view page after click on right/left image slider buttons
  frontend/src/components/car-list-item/slider-nav-button/slider-nav-button.tsx
Labels: bug, frontend

#270 Add comparison page (duplicate)
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/package.json
  frontend/src/common/enums/comparisons/options.ts
  frontend/src/components/collapse-component/collapse-element/collapse-element.tsx
  frontend/src/components/collapse-component/collapse-element/styles.module.scss
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
  frontend/src/components/comparison-options-table/options-subtable.tsx
  frontend/src/components/comparison-options-table/styles.module.scss
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/comparison-page/styles.module.scss
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/components/general-comparison-table/styles.module.scss
  frontend/src/components/header/header.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/yarn.lock
Labels: duplicate, frontend

#275 Fixed bug_80 likes are all white on the Personal page when the user just logged in
  frontend/src/components/header/header.tsx
Labels: frontend, fix

#287 corrected label for start year
  frontend/src/components/edit-profile/edit-profile.tsx
Labels: frontend, fix

#278 Added UAH price to search page
  frontend/src/components/car-list-item/car-list-item.tsx
Labels: frontend, fix

#256 Fixed notification position by added header offset
  frontend/src/components/common/notification/styles.module.scss
Labels: frontend, fix

#261 Fixed incorrect search results when selecting two brands with model
  backend/src/services/cars/cars-local-search.service.ts
  frontend/src/store/selectors/car-filter-selectors.ts
  shared/src/common/types/cars/cars-search-params.ts
Labels: backend, frontend, fix

#262 Fixed active state of navigation element in site header
  frontend/src/components/header/header.tsx
  frontend/src/components/header/styles.module.scss
Labels: frontend, fix

#280 Backend/get a short info about complectation by id
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/helpers/cars/cars.ts
  backend/src/helpers/cars/complectation.helper.ts
  backend/src/helpers/helpers.ts
  backend/src/routes/complectations/complectations.router.ts
  backend/src/services/complectations/complectations.service.ts
  shared/src/common/types/complectations/complectations.ts
  shared/src/common/types/types.ts
Labels: backend

#293 Fixed Bug 98 google connect
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/user/update-user.ts
Labels: frontend, fix

#281 Fixed Bug_77 Smooth scrolling inconsistency
  frontend/src/components/user-info-panel/user-info-panel.tsx
Labels: frontend, fix

#282 Fixed forgot/reset password routes
  frontend/src/navigation/routing/routing.tsx
Labels: frontend, fix

#294 Fixed Bug_87 Add general scrollbar
  frontend/src/assets/css/styles.scss
Labels: frontend, fix

#283 Remove hover effect for the <options> button
  frontend/src/components/complete-set-table/styles.module.scss
Labels: fix

#242 Where buy frontend and backend
  backend/src/common/enums/app/app.ts
  backend/src/common/enums/app/ria-urls.enum.ts
  backend/src/common/enums/app/route-path.enum.ts
  backend/src/common/types/types.ts
  backend/src/common/types/where-to-buy/where-to-buy.params.ts
  backend/src/controllers/where-to-buy/where-to-buy.ts
  backend/src/routes/routes.ts
  backend/src/routes/where-buy/where-buy.router.ts
  backend/src/server.ts
  frontend/src/assets/images/logo-autoria.png
  frontend/src/common/enums/api/where-buy.path.ts
  frontend/src/common/enums/app/app.ts
  frontend/src/common/enums/app/auto-ria-link.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/types.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/styles.module.scss
  frontend/src/components/where-to-buy/where-buy-item/styles.module.scss
  frontend/src/components/where-to-buy/where-buy-item/where-buy-item.tsx
  frontend/src/components/where-to-buy/where-to-buy.tsx
  frontend/src/store/queries/where-buy.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/src/store/where-buy/slice.ts
Labels: backend, frontend

#285 fix/Bug_78 Reset filters in simple form rendering
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Labels: frontend, fix

#286 Make check and cross in the comparison table bigger
  frontend/src/components/comparison-options-table/options-subtable.tsx
Labels: frontend, fix

#288 Align page content to the left
  frontend/src/components/comparison-page/styles.module.scss
Labels: frontend, fix

#277 Fixed bug 79 guest users should be able to visit Search Page
  frontend/src/contexts/compare-context.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/comparisons/index.ts
  frontend/src/store/queries/preferences/middlewares.ts
Labels: frontend, fix

#264 Make cars categories clickable
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/cars-categories/cars-categories.tsx
Labels: frontend

#290 Live updates for comparison page
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/comparison.tsx
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/contexts/compare-context.tsx
Labels: frontend

#295 deleted hover effect
  frontend/src/components/car-list-item/styles.module.scss
Labels: frontend, fix

#296 Important options
  backend/api-autoria/cars/options-types.ts
  backend/prisma/seed.ts
Labels: backend

#297 Important options was duplicated. Search page.
  frontend/src/components/car-list-item/car-list-item.tsx
Labels: frontend, fix

#298 Fixed bug 88'null' value for 'Sex' column in users table
  frontend/src/components/administration/users/users-list.tsx
Labels: fix

#299 add where to by on details page
  frontend/src/components/details-page/details-page.tsx
  frontend/src/components/where-to-buy/styles.module.scss
Labels: frontend

#302 Fix/viewed cars/price format and image width
  backend/src/helpers/viewed-cars/viewed-cars.ts
  frontend/src/components/viewed-cars/components/short-car-card/short-car-card.tsx
  frontend/src/components/viewed-cars/components/short-car-card/styles.module.scss
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Labels: fix

#301 deleted dublicate models
  backend/api-autoria/cars/cars-data.ts
Labels: backend, fix

#304 fix/Bug_89 Reappear car in its previous place
  backend/src/common/types/prisma/prisma.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/services/preferences/wishlist.service.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/wishlist/wishlist.tsx
  frontend/src/contexts/wishlist-context.tsx
Labels: backend, frontend, fix

#305 Changed the display of the number of cars viewed, if they are more than 10
  frontend/src/components/header/reminders/reminders.tsx
  frontend/src/components/user-info-panel/styles.module.scss
  frontend/src/components/user-info-panel/user-info-panel.tsx
Labels: fix

#291 Hide empty options tables in only difference mode
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/comparison-page/options-subcomponent/all-options.tsx
  frontend/src/components/comparison-page/options-subcomponent/only-different-options.tsx
Labels: frontend

#307 fixed createdAt types
  frontend/src/common/types/card/card.ts
  frontend/src/common/types/wishlist/wishlist.type.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/user-info-panel/user-info-panel.tsx
  frontend/src/components/wishlist/wishlist.tsx
  frontend/src/store/queries/preferences/wishlist/index.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Labels: fix

#292 Fixed Bug_90 Add scroll to top after redirect to Detailed view
  frontend/src/components/car-list-item/car-list-item.tsx
Labels: frontend, fix

#306 Fix/bug 101
  frontend/src/assets/css/variables.scss
  frontend/src/components/header/reminders/reminders.tsx
  frontend/src/components/header/styles.module.scss
Labels: frontend, fix

#313 duplicate character removed. bug 102
  frontend/src/components/where-to-buy/where-buy-item/where-buy-item.tsx
Labels: frontend, fix

#312 Removed regions from filters
  backend/src/services/cars/cars.service.ts
  frontend/src/common/enums/car/car-filters-names.enum.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/car-filter/slice.ts
Labels: frontend

#314 Fix viewed cars add functionality
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/details-page/details-page.tsx
Labels: frontend, fix

#308 Fix empty row in comparison table
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/helpers/comparsion/find-empty-option.ts
  frontend/src/helpers/helpers.ts
Labels: frontend, fix

#315 bugs_85_91 layout input fields
  frontend/src/assets/css/form.scss
Labels: bug, frontend

#310 Comparison popup logic implementation
  backend/src/helpers/cars/complectation.helper.ts
  backend/src/services/cars/cars.service.ts
  backend/src/services/complectations/complectations.service.ts
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/comparison-popup/car-card/car-card.tsx
  frontend/src/components/comparison-popup/comparison-popup.tsx
  frontend/src/components/comparison-popup/styles.module.scss
  frontend/src/components/edit-profile/select-field-form/select-field-form.tsx
  frontend/src/components/edit-profile/select-field-form/select-field-form.type.ts
  frontend/src/helpers/comparison/comparison.helper.ts
  frontend/src/helpers/helpers.ts
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/queries/details-panel.ts
  frontend/yarn.lock
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/complectation.ts
  shared/src/common/types/comparisons/comp-preview-info.ts
  shared/src/common/types/complectations/complectations.ts
  shared/src/common/types/types.ts
Labels: backend, frontend

#316 guest should be able to see dataled page
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/routes/complectations/complectations.router.ts
  backend/src/services/complectations/complectations.service.ts
  shared/src/common/types/complectations/complectations.ts
Labels: backend, fix

#317 bug_103 Edit profile modal window does not open
  frontend/src/components/edit-profile/edit-profile.tsx
Labels: bug, frontend

#318 Add spinner to personal page
  frontend/src/components/viewed-cars/viewed-cars.tsx
  frontend/src/components/wishlist/wishlist.tsx
Labels: fix

#324 changed logo, now it is bigger (Volkswagen)
  backend/api-autoria/cars/cars-data.ts
Labels: backend, fix

#300 Notifications update
  frontend/src/assets/css/animations.scss
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/common/notification/notification.tsx
  frontend/src/components/common/notification/styles.module.scss
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/components/compare-toast/styles.module.scss
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/notifications/notifications.tsx
  frontend/src/contexts/compare-context.tsx
  frontend/src/contexts/wishlist-context.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/interval/interval.hook.ts
  frontend/src/main.tsx
  frontend/yarn.lock
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Labels: frontend

#309 Add <only difference> toggle
  frontend/src/common/enums/comparisons/comparison-table-fields.ts
  frontend/src/common/enums/comparisons/options.ts
  frontend/src/components/comparison-page/comparison-page.tsx
  frontend/src/components/comparison-page/styles.module.scss
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/helpers/comparsion/find-empty-option.ts
Labels: frontend

#321 Fix/viewed cars/redirect to the сomplectation page
  backend/src/helpers/viewed-cars/viewed-cars.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
  frontend/src/components/viewed-cars/components/short-car-card/short-car-card.tsx
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
Labels: fix

#311 Simplify Equal height logic
  frontend/package.json
  frontend/src/assets/css/styles.scss
  frontend/src/components/comparison-options-table/options-subtable.tsx
  frontend/src/components/comparison-options-table/styles.module.scss
  frontend/src/components/general-comparison-table/general-comparison-table.tsx
  frontend/src/components/general-comparison-table/styles.module.scss
  frontend/yarn.lock
Labels: frontend, fix, stacked

#322 Fix recent search add cars
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
Labels: frontend, fix

#319 add columns swapping, sticky header, 'compare prices' link and count
  backend/src/controllers/comparisons/comparisons.controller.ts
  backend/src/routes/comparisons/comparisons.router.ts
  backend/src/services/comparisons/comparisons.service.ts
  frontend/src/components/common/icons/arrow-left/arrow-left.tsx
  frontend/src/components/common/icons/arrow-right/arrow-right.tsx
  frontend/src/components/common/icons/icons.tsx
  frontend/src/components/comp-top-table-bar/comp-top-table-bar.tsx
  frontend/src/components/comp-top-table-bar/components/comparison.tsx
  frontend/src/components/comp-top-table-bar/components/complectation.tsx
  frontend/src/components/comp-top-table-bar/components/styles.module.scss
  frontend/src/store/queries/comparisons/index.ts
Labels: backend, frontend

#323 fix/Bug_105 Show cars brands not more, than max in slider
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/swiper-params.ts
Labels: frontend, fix

#325 Bug_109 Fix display of cars in history of viewed cars
  frontend/src/components/viewed-cars/viewed-cars.tsx
Labels: bug

#326 Fix comparison page crash when no cars added to comparison
  frontend/src/helpers/comparsion/find-empty-option.ts
Labels: frontend, fix

#327 Bug_110 Fix content on the "About Us" page
  frontend/src/components/about-page/about-page.tsx
  frontend/src/components/about-page/styles.module.scss
Labels: bug

#331 Back/history of comparisons route
  backend/src/controllers/history-of-comparisons/history-of-comparisons.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/history-of-comparisons/history-of-comparisons.ts
  backend/src/routes/history-of-comparisons/history-of-comparisons.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/history-of-comparisons/history-of-comparisons.service.ts
  shared/src/common/types/history-of-comparisons/history-of-comparisons-dto.type.ts
  shared/src/common/types/history-of-comparisons/history-of-comparisons.ts
  shared/src/common/types/types.ts
Labels: backend

#329 Increased max price in range
  frontend/src/common/enums/car/ranges.ts
Labels: frontend, fix

#328 saved adverts for all complectations which user chosed
  frontend/src/common/types/types.ts
  frontend/src/common/types/where-to-buy/where-to-buy.ts
  frontend/src/components/where-to-buy/where-to-buy.tsx
  frontend/src/store/queries/where-buy.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/where-buy/slice.ts
Labels: frontend, fix
