Repository BinaryStudioAcademy/bsa-2022-autoline, pull requests merged in 2022-08, with the labels that each got.

#5 Added `README` file
  README.md
Labels: documentation

#19 Fld 'user.photo_url' set as optional (may be NULL)
  backend/prisma/migrations/20220811073302_user_photo_url_set_as_optional/migration.sql
  backend/prisma/schema.prisma
Labels: backend, fix

#12 Sign in endpoints implementation
  backend/src/controllers/auth/auth.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/helpers/token/token.ts
  backend/src/helpers/token/verify-token/verify-token.helper.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/auth/strategies/local.strategy.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/services/auth/auth.service.ts
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/sign-in-data.type.ts
  shared/src/common/types/types.ts
Labels: backend

#18 Add migration for cars tables
  backend/package.json
  backend/prisma/migrations/20220810112303_body_type_table/migration.sql
  backend/prisma/migrations/20220810113646_manufacturer_countrie_table/migration.sql
  backend/prisma/migrations/20220810114057_brand_table/migration.sql
  backend/prisma/migrations/20220810114713_model_table/migration.sql
  backend/prisma/migrations/20220810120536_fix_table_name/migration.sql
  backend/prisma/migrations/20220810131317_drivetrain_table/migration.sql
  backend/prisma/migrations/20220810131757_fuel_type_table/migration.sql
  backend/prisma/migrations/20220810132156_color_table/migration.sql
  backend/prisma/migrations/20220810132625_transmission_type_table/migration.sql
  backend/prisma/migrations/20220810132911_fix_fuel_type_table_name/migration.sql
  backend/prisma/migrations/20220810133941_option_table/migration.sql
  backend/prisma/migrations/20220810170428_complectation_table/migration.sql
  backend/prisma/migrations/20220811033351_prices_range_table/migration.sql
  backend/prisma/migrations/20220811064902_fix_model_table/migration.sql
  backend/prisma/schema.prisma
Labels: backend

#20 Sign up frontend
  frontend/src/assets/css/form.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/common/types/select-field/select-field.tsx
  frontend/src/common/types/types.tsx
  frontend/src/components/common/icons/arrow-down/arrow-down.tsx
  frontend/src/components/common/icons/icons.tsx
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/common/select-field/select-field.tsx
  frontend/src/components/common/select-field/styles.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
  frontend/src/components/sign/sign.tsx
  frontend/src/components/sign/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
Labels: frontend

#16 Add reset password functionality backend
  backend/package.json
  backend/src/common/enums/app/env.enum.ts
  backend/src/common/types/controller/controller.ts
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
  backend/src/controllers/auth/auth.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/mailtrap/interfaces/INodemailerPayload.ts
  backend/src/helpers/mailtrap/mailtrap.ts
  backend/src/helpers/mailtrap/templates/resetPasswordConfirmation.ts
  backend/src/helpers/mailtrap/templates/resetPasswordRequest.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/services/auth/auth.service.ts
  backend/yarn.lock
Labels: backend

#28 Add roles-based protection
  backend/src/common/enums/exception/exception-message.enum.ts
  backend/src/middlewares/exceptions/exceptions.middleware.ts
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/roles-based-protection/role.middleware.ts
  backend/src/routes/routes.ts
  backend/src/routes/test-protected-route/protected.router.ts
  backend/src/server.ts
  backend/src/services/auth/auth.service.ts
  shared/src/common/types/auth/token-payload.type.ts
Labels: backend

#27 Add redux toolkit integration
  frontend/package.json
  frontend/src/common/types/app/app.ts
  frontend/src/common/types/app/root-state.type.ts
  frontend/src/common/types/types.tsx
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/store/store.hooks.ts
  frontend/src/main.tsx
  frontend/src/store/auth/slice.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/yarn.lock
Labels: frontend

#21 Sign up logic for users
  backend/package.json
  backend/prisma/migrations/20220809093013_user_security_table/migration.sql
  backend/src/controllers/auth/auth.controller.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/middlewares.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail_verification/send.service.ts
  backend/src/services/mail_verification/user_security.service.ts
  backend/src/validation-schemas/sign-up/sign-up.validation-schema.ts
  backend/src/validation-schemas/validation-schemas.ts
  backend/yarn.lock
  package.json
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/sign-up-response-dto.type.ts
  shared/src/common/types/types.ts
  yarn.lock
Labels: backend

#32 create component TopCarCard
  frontend/src/assets/images/fuel.svg
  frontend/src/assets/images/map-pin.svg
  frontend/src/assets/images/speedometr.svg
  frontend/src/assets/images/transmission.svg
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/components/top-car-card/top-car-card.tsx
Labels: frontend

#33 Task/create seeders for database
  .env.example/backend.env
  backend/api-autoria/cars/cars-data.ts
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/api-autoria/cars/options-types.ts
  backend/api-autoria/fetch-cars-data.ts
  backend/api-autoria/option-type.enum.ts
  backend/package.json
  backend/prisma/migrations/20220813114336_model_table_year_end_as_nullable/migration.sql
  backend/prisma/migrations/20220815112016_prices_range_table_model_complectation_as_nullable/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/dtos/cars/autoria-plain-data.dto.ts
  backend/tsconfig.json
  backend/yarn.lock
Labels: backend

#30 Added header
  .env.example/backend.env
  .ls-lint.yml
  backend/prisma/migrations/migration_lock.toml
  backend/src/helpers/mailtrap/interfaces/INodemailerPayload.ts
  backend/src/helpers/mailtrap/interfaces/nodemailer-payload.ts
  backend/src/helpers/mailtrap/mailtrap.ts
  backend/src/helpers/mailtrap/templates/reset-passwor-request.ts
  backend/src/helpers/mailtrap/templates/reset-password-confirmation.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/send.service.ts
  backend/src/services/mail-verification/user-security.service.ts
  frontend/package.json
  frontend/src/assets/css/variables.scss
  frontend/src/assets/images/header/arrow-drop-down.svg
  frontend/src/assets/images/header/bell.svg
  frontend/src/assets/images/header/comparisons.svg
  frontend/src/assets/images/header/default-avatar.png
  frontend/src/assets/images/header/heart.svg
  frontend/src/common/theme/theme.tsx
  frontend/src/components/header/header.module.scss
  frontend/src/components/header/header.tsx
  frontend/src/components/header/logo/logo.module.scss
  frontend/src/components/header/logo/logo.tsx
  frontend/src/components/header/navigate/navigate.module.scss
  frontend/src/components/header/navigate/navigate.tsx
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/header/public-elements/public-elements.module.scss
  frontend/src/components/header/public-elements/public-elements.tsx
  frontend/src/components/header/reminders/reminders.module.scss
  frontend/src/components/header/reminders/reminders.tsx
Labels: frontend

#38 add city and region migration
  backend/prisma/migrations/20220816164515_city_and_region_tables/migration.sql
  backend/prisma/migrations/20220816193202_fix_region_name/migration.sql
  backend/prisma/schema.prisma
Labels: backend

#34 History viewed cars
  frontend/src/common/types/card/card.ts
  frontend/src/common/types/types.tsx
  frontend/src/components/reviewed-cars-grid/reviewed-cars-grid.tsx
  frontend/src/components/reviewed-cars-grid/style.module.scss
  frontend/src/components/reviewed-cars/reviewed-cars.tsx
  frontend/src/components/reviewed-cars/styles.module.scss
  frontend/src/components/short-car-card/short-car-card.tsx
  frontend/src/components/short-car-card/styles.module.scss
Labels: frontend

#43 fix email verification, changed folder name
  backend/src/controllers/mail-varification/send-link.ts
  backend/src/controllers/mail-varification/verification.ts
  backend/src/routes/activate-mail/activate.router.ts
  backend/src/routes/activation-link/activation-link.router.ts
  backend/src/routes/routes.ts
  backend/src/services/mail-verification/send-activation-link/constants.ts
  backend/src/services/mail-verification/send-activation-link/send-link.ts
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
  backend/src/services/mail-verification/user-data.service/user-security.ts
  backend/src/services/mail-verification/user-data.service/user.ts
Labels: backend

#44 Added name to the `Complectation` table
  backend/prisma/migrations/20220817191122_fix_complectation_name/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Labels: backend

#47 Add Description field to Model
  backend/api-autoria/cars/cars-data.ts
  backend/prisma/migrations/20220818075039_add_model_description/migration.sql
  backend/prisma/migrations/20220818080930_fix_typo_in_description/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.ts
Labels: backend

#39 Create an images carousel for the detailed view
  frontend/src/assets/images/icon-park-solid_picture.svg
  frontend/src/components/common/carousel/carousel.tsx
  frontend/src/components/common/carousel/mock-data.ts
  frontend/src/components/common/carousel/styles.scss
Labels: frontend

#40 Add general components
  .stylelintrc.yml
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/typography.scss
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/types/button/button.ts
  frontend/src/common/types/input-field/input-field.ts
  frontend/src/common/types/select-field/select-field.ts
  frontend/src/common/types/title/title.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/title/styles.module.scss
  frontend/src/components/common/title/title.tsx
  frontend/src/components/personal-page/personal-page.tsx
  frontend/src/navigation/routing/routing.tsx
Labels: frontend

#45 add seeders for cities and regions
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/api-autoria/city-type.ts
  backend/api-autoria/fetch-cars-data.ts
  backend/prisma/seed.ts
Labels: backend

#51 Wishlist: get wishlists of current user
  backend/src/controllers/mail-varification/send-link.ts
  backend/src/controllers/preferences/wishlist.controller.ts
  backend/src/routes/preferences/wishlist.router.ts
  backend/src/services/preferences/wishlist.service.ts
  shared/src/common/types/preferences/preferences.ts
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
  shared/src/common/types/types.ts
Labels: backend

#46 Roles management by admin on frontend
  .gitignore
  backend/src/routes/routes.ts
  backend/src/routes/user/user.router.ts
  backend/src/server.ts
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/administration/administration.tsx
  frontend/src/components/administration/index.tsx
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/auth/slice.ts
  frontend/src/store/queries/api_routes.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/users/index.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/index.ts
  shared/src/common/types/user/user.enum.ts
  shared/src/common/types/user/user.ts
Labels: frontend

#42 Add cars filtering
  backend/src/common/types/cars/autoria-request-params.ts
  backend/src/common/types/types.ts
  backend/src/controllers/cars/cars.controller.ts
  backend/src/helpers/cars/api-autoria.helper.ts
  backend/src/helpers/cars/cars.ts
  backend/src/helpers/helpers.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/cars/cars-search.service.ts
  shared/src/common/types/cars/cars-search-params.ts
  shared/src/common/types/types.ts
Labels: backend

#26 GitHub actions
  .docker/autoline/backend.Dockerfile
  .docker/autoline/docker-compose.dev.yml
  .docker/autoline/docker-compose.prod.yml
  .docker/autoline/docker-compose.services.yml
  .docker/autoline/docker-compose.stage.yml
  .docker/autoline/docker-compose.yml
  .docker/autoline/frontend.Dockerfile
  .docker/autoline/nginx/nginx.conf
  .env.example/db.env
  .github/workflows/ci.yml
  .github/workflows/deploy.dev.yml
Labels: ci

#25 Fix Workspaces
  package.json
Labels: enhancement

#24 fix (structure) Fix structure of frontend
  frontend/.env.example
  frontend/src/common/enums/app/app.ts
  frontend/src/configs/config.ts
  frontend/src/main.tsx
  frontend/tsconfig.json
  package.json
Labels: backend

#23 fix (structure) Fix structure of backend
  backend/.env.example
  backend/src/common/enums/app/app.ts
  backend/src/common/enums/app/env.enum.ts
  backend/src/configs/config.ts
  backend/src/helpers/token/create-token/create-token.helper.ts
  backend/src/helpers/token/verify-token/verify-token.helper.ts
  backend/src/server.ts
  frontend/.env.example
  frontend/src/common/enums/app/app.ts
  frontend/src/configs/config.ts
  frontend/src/main.tsx
  frontend/tsconfig.json
  package.json
Labels: backend

#37 Connect sign in form with backend
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/auth/auth.ts
  frontend/src/common/types/form/form-control-errors.type.ts
  frontend/src/common/types/form/form-control-path.type.ts
  frontend/src/common/types/form/form-control-values.type.ts
  frontend/src/common/types/form/form-control.type.ts
  frontend/src/common/types/form/form.ts
  frontend/src/common/types/input-field/input-field.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/helpers/validation/get-form-validation-resolver.ts
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/store/queries/auth.ts
  frontend/src/store/queries/index.ts
  frontend/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
Labels: frontend

#53 Collapse component
  frontend/src/assets/css/variables.scss
  frontend/src/components/collapse-component/collapse-element/collapse-element.tsx
  frontend/src/components/collapse-component/collapse-element/styles.module.scss
  frontend/src/components/collapse-component/collapse.tsx
Labels: frontend

#49 Added edit profile backend
  backend/prisma/migrations/20220818111111_add_birth_year_to_user/migration.sql
  backend/prisma/migrations/20220819084714_update_user_security_foreign_key/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seeds/users.ts
  backend/src/controllers/update-user/update-user.controller.ts
  backend/src/dtos/user/update-user.dto.ts
  backend/src/middlewares/auth/strategies/local.strategy.ts
  backend/src/middlewares/middlewares.ts
  backend/src/middlewares/update-user/update-user.middleware.ts
  backend/src/routes/routes.ts
  backend/src/routes/update-user/update-user.router.ts
  backend/src/server.ts
  backend/src/services/password-validation/password-validation.service.ts
  backend/src/services/update-user/update-user.service.ts
  frontend/yarn.lock
  shared/src/common/validation-schemas/index.ts
  shared/src/common/validation-schemas/update-user.validation-schema.ts
  shared/src/index.ts
  shared/yarn.lock
Labels: backend

#58 fix spacing problem with alerts, modify mail message template for reset password
  backend/src/helpers/mailtrap/templates/reset-passwor-request.ts
  backend/src/helpers/mailtrap/templates/reset-password-confirm.ts
  backend/src/helpers/mailtrap/templates/reset-password-confirmation.ts
  backend/src/helpers/mailtrap/templates/reset-password-request.ts
  backend/src/services/auth/auth.service.ts
  frontend/src/assets/css/form.scss
Labels: fix

#55 corrected template for verification mail message
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
  backend/src/services/mail-verification/send-activation-link/templates/logo.svg
Labels: backend

#54 Create landing page frontend
  .stylelintrc.yml
  frontend/src/assets/css/form.scss
  frontend/src/assets/css/mixins.scss
  frontend/src/assets/css/styles.scss
  frontend/src/assets/css/variables.scss
  frontend/src/assets/images/landing-page/picture.png
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/styles.module.scss
  frontend/src/components/cars-categories/swiper-params.ts
  frontend/src/components/landing-page/components/components.ts
  frontend/src/components/landing-page/components/drawer/drawer.tsx
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/components/top-car-card/styles.module.scss
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/forgot-password.ts
Labels: frontend

#63 Roles management by admin backend
  backend/src/controllers/users/users.controller.ts
  backend/src/routes/user/user.router.ts
  backend/src/services/users/users.service.ts
Labels: backend

#65 fix_frontent_added_missing_import
  frontend/src/common/enums/enums.ts
Labels: frontend, fix

#50 Connect sign up form with backend
  backend/src/services/password-validation/password-validation.service.ts
  frontend/package.json
  frontend/src/common/enums/api/auth-api-path.enum.ts
  frontend/src/common/types/auth/auth.ts
  frontend/src/common/types/input-field/input-field.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/input-field/input-field.tsx
  frontend/src/components/common/input-field/input-masks/phone-mask/phone-mask.tsx
  frontend/src/components/common/input-field/styles.module.scss
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-up-form/styles.module.scss
  frontend/src/components/sign/sign.tsx
  frontend/src/components/sign/styles.module.scss
  frontend/src/store/queries/auth.ts
  frontend/src/store/queries/index.ts
  frontend/yarn.lock
  shared/src/common/types/auth/auth.ts
  shared/src/common/types/auth/sign-up-data.type.ts
  shared/src/common/types/types.ts
  shared/src/validation-schemas/index.ts
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Labels: frontend

#66 Add Complete Set component
  frontend/src/common/enums/car/options.enum.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/complete-set/complete-set.ts
  frontend/src/common/types/types.ts
  frontend/src/components/common/icons/icons.tsx
  frontend/src/components/common/icons/options/options-icon.tsx
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/mock-cars.ts
  frontend/src/components/complete-set-table/styles.module.scss
Labels: frontend

#67 Added middleware for Roles management by admin
  backend/src/controllers/users/users.controller.ts
  backend/src/routes/user/user.router.ts
  frontend/src/components/administration/administration.tsx
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/users/index.ts
Labels: backend

#69 Sign in redirect logic
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/store/auth/slice.ts
  frontend/src/store/root-reducer.ts
Labels: frontend

#70 Added global style variables from Figma design
  frontend/src/assets/css/typography.scss
  frontend/src/assets/css/variables.scss
  frontend/src/components/common/title/styles.module.scss
Labels: frontend

#57 History viewed cars implementation
  backend/prisma/migrations/20220819092605_user_viewed_cars_list/migration.sql
  backend/prisma/schema.prisma
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
  backend/src/controllers/users/users.controller.ts
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/routes/routes.ts
  backend/src/routes/viewed-cars/viewed.router.ts
  backend/src/server.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
  shared/src/common/types/types.ts
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
  shared/src/common/types/viewed-cars/viewed-cars.ts
Labels: backend

#61 Header wishlist integration
  frontend/src/components/header/header.tsx
  frontend/src/components/header/reminders/reminders.tsx
  shared/src/common/types/preferences/wishlist-response-dto.type.ts
Labels: backend, frontend

#72 Created search endpoints for RTK Query
  backend/package.json
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars.service.ts
Labels: backend, stacked

#73 Simple filter form
  frontend/src/common/types/select-field/select-field.ts
  frontend/src/components/common/autocomplete-input/autocomplete-input.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/common/range-selector/styles.module.scss
  frontend/src/components/common/select-field/select-field.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
Labels: frontend, stacked

#78 fix model seed and compplectation seed
  backend/prisma/seed.ts
Labels: fix

#71 Task/search autos by characteristics
  backend/package.json
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars.service.ts
  frontend/package.json
  frontend/src/assets/css/form.scss
  frontend/src/assets/images/checkbox/checked.svg
  frontend/src/assets/images/checkbox/rectangle.svg
  frontend/src/common/enums/cars/filters-names.enum.ts
  frontend/src/common/enums/cars/ranges.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/cars/autocomplete.type.ts
  frontend/src/common/types/cars/brand-details.type.ts
  frontend/src/common/types/cars/brand.type.ts
  frontend/src/common/types/cars/checkbox-list-data.type.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/common/types/cars/range-item.type.ts
  frontend/src/common/types/select-field/select-field.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/common/autocomplete-input/autocomplete-input.tsx
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/common/checkbox-list/styles.module.scss
  frontend/src/components/common/icons/arrow-down/arrow-down.tsx
  frontend/src/components/common/icons/checkbox/custom-checkbox.tsx
  frontend/src/components/common/icons/icons.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/common/range-selector/styles.module.scss
  frontend/src/components/common/select-field/select-field.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/components/simple-auto-filter/styles.module.scss
  frontend/src/helpers/filters-to-query.ts
  frontend/src/helpers/get-value-by-id.ts
  frontend/src/hooks/hooks.ts
  frontend/src/hooks/store/store.hooks.ts
  frontend/src/store/car-filter/slice.ts
  frontend/src/store/queries/api_routes.ts
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/root-reducer.ts
  frontend/src/store/store.ts
  frontend/yarn.lock
  shared/src/common/types/cars/brand.ts
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/model.ts
  shared/src/common/types/cars/options.ts
  shared/src/common/types/types.ts
Labels: backend, frontend

#82 Fix autoria endpoint
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars-search.service.ts
Labels: backend, fix

#76 Add google auth
  .env.example/backend.env
  backend/package.json
  backend/prisma/migrations/20220822081836_fix_user_security/migration.sql
  backend/prisma/schema.prisma
  backend/src/common/enums/app/env.enum.ts
  backend/src/controllers/auth/auth.controller.ts
  backend/src/middlewares/auth/auth.middleware.ts
  backend/src/middlewares/auth/strategies/google.strategy.ts
  backend/src/middlewares/auth/strategies/strageties.ts
  backend/src/middlewares/middlewares.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/services/auth/auth.service.ts
  backend/yarn.lock
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/common/enums/app/storage-key.enum.ts
  frontend/src/components/sign/components/redirect-after-sign/redirect-after-sign.tsx
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  frontend/src/components/sign/components/sign-with-google/sign-with-google.tsx
  frontend/src/helpers/helpers.ts
  frontend/src/helpers/sign/open-google.ts
  frontend/src/navigation/routing/routing.tsx
  frontend/src/store/queries/cars/index.ts
  shared/src/common/types/types.ts
Labels: backend, frontend

#83 Fix token initial state
  frontend/src/store/auth/slice.ts
Labels: frontend, fix

#81 Fix font sizes
  frontend/src/components/header/logo/logo.tsx
  frontend/src/components/header/navigate/navigate.module.scss
  frontend/src/components/header/navigate/navigate.tsx
  frontend/src/components/header/private-elements/private-elements.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/styles.module.scss
Labels: frontend, fix

#85 Fix sign up errors
  backend/src/middlewares/auth/auth.middleware.ts
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  shared/src/common/types/auth/sign-up-data.type.ts
Labels: backend, frontend, fix

#92 add cities endpoint
  backend/src/controllers/location/location.controller.ts
  backend/src/routes/location/location.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/location/location.service.ts
Labels: backend

#97 Add search page
  frontend/src/common/enums/app/app-route.enum.ts
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/search-page/search-page.tsx
  frontend/src/navigation/routing/routing.tsx
Labels: frontend

#103 fixed template for email verification, corrected svg import
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
Labels: backend, fix

#101 Add local cars search endpoint
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars-local-search.service.ts
  shared/src/common/types/cars/cars-search-params.ts
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/search-result.ts
  shared/src/common/types/types.ts
Labels: backend

#100 fixed margin in message
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-in-form/styles.module.scss
Labels: frontend, fix

#98 Extended user management by admin
  backend/src/middlewares/roles-based-protection/role.middleware.ts
  frontend/src/common/types/input-field/input-field.ts
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/components/common/input-field/input-field.tsx
Labels: backend, frontend

#96 Connected toast to new car component
  frontend/src/common/types/top-cars-mock/top-cars.ts
  frontend/src/common/types/types.ts
  frontend/src/components/compare-toast/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/mock-new-cars.ts
  frontend/src/components/landing-page/mock-top-cars.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/top-car-card/top-car-card.tsx
Labels: frontend, on hold

#107 Fix cars search return type
  backend/src/services/cars/cars-local-search.service.ts
  shared/src/common/types/cars/search-result.ts
Labels: backend, fix

#108 fix connecting InputFiel to verification-failed page
  frontend/src/common/types/mail-verification/email-verification.ts
  frontend/src/common/types/types.ts
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
Labels: frontend, fix

#109 fix landing page styles for big screens
  frontend/src/assets/css/form.scss
  frontend/src/assets/css/mixins.scss
  frontend/src/assets/css/variables.scss
  frontend/src/components/cars-categories/slider-nav-button/styles.module.scss
  frontend/src/components/cars-categories/styles.module.scss
  frontend/src/components/landing-page/components/header/header.tsx
  frontend/src/components/landing-page/components/header/styles.module.scss
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/landing-page/styles.module.scss
  frontend/src/components/new-car-card/styles.module.scss
  frontend/src/components/top-car-card/styles.module.scss
Labels: frontend, fix

#110 Add model and complectations details endpoint
  backend/prisma/migrations/20220825083258_prices_range_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/cars/cars.controller.ts
  backend/src/routes/cars/cars.router.ts
  backend/src/services/cars/cars.service.ts
  shared/src/common/types/cars/cars.ts
  shared/src/common/types/cars/complectation.ts
  shared/src/common/types/cars/model.ts
  shared/src/common/types/types.ts
Labels: backend

#79 New 4 cars (landing page) now we get from db
  backend/api-autoria/cars/cars-data.ts
  backend/prisma/migrations/20220826134510_added_created_at_to_model_table/migration.sql
  backend/prisma/schema.prisma
  backend/src/common/enums/app/route-path.enum.ts
  backend/src/controllers/new-cars/new-cars.ts
  backend/src/routes/new-cars/new-cars.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/new-cars/new-cars.service.ts
  frontend/src/common/enums/api/new-cars-path.ts
  frontend/src/common/enums/enums.ts
  frontend/src/common/types/mail-verification/email-verification.ts
  frontend/src/components/compare-toast/compare-toast.tsx
  frontend/src/components/landing-page/landing-page.tsx
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/store/queries/new-cars.ts
  yarn.lock
Labels: backend, frontend

#68 Edit profile frontend
  frontend/src/assets/images/edit-profile/cross.svg
  frontend/src/assets/images/edit-profile/default-avatar.png
  frontend/src/assets/images/edit-profile/pencil.svg
  frontend/src/assets/images/edit-profile/trash.svg
  frontend/src/common/types/button/button.ts
  frontend/src/components/common/button-fill/button-fill.tsx
  frontend/src/components/edit-profile/dialog-delete-account/dialog-delete-account.tsx
  frontend/src/components/edit-profile/edit-profile.tsx
  frontend/src/components/edit-profile/select-field-form/select-field-form.tsx
  frontend/src/components/edit-profile/select-field-form/select-field-form.type.ts
  frontend/src/components/edit-profile/select-field-form/styles.module.scss
  frontend/src/components/edit-profile/select-years-range/select-year-range.tsx
  frontend/src/components/edit-profile/select-years-range/styles.module.scss
  frontend/src/components/edit-profile/sign-in/sign-in.tsx
  frontend/src/components/edit-profile/sign-in/styles.module.scss
  frontend/src/components/edit-profile/styles.module.scss
  frontend/src/components/header/private-elements/private-elements.tsx
  frontend/src/hooks/app-form/app-form.hook.ts
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/user/update-user.ts
  frontend/yarn.lock
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/types/types.ts
  shared/src/common/types/user/index.ts
  shared/src/common/types/user/update-user.ts
Labels: frontend

#87 add 'forgot password?' button to sign in page
  frontend/src/assets/css/form.scss
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-in-form/styles.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
Labels: frontend

#94 Fix/changes in filter form
  frontend/src/common/enums/cars/filters-names.enum.ts
  frontend/src/common/enums/cars/ranges.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/store/car-filter/slice.ts
Labels: frontend, fix

#86 add characteristics list
  frontend/src/common/types/characteristics-list/characteristics-list.ts
  frontend/src/components/characteristics-list/characteristics-group/characteristics-group.tsx
  frontend/src/components/characteristics-list/characteristics-group/styles.module.scss
  frontend/src/components/characteristics-list/characteristics-list.tsx
  frontend/src/components/characteristics-list/mock-car-info.tsx
  frontend/src/components/characteristics-list/styles.module.scss
Labels: frontend

#114 fix mui-alert's font-size, reset password's alert
  frontend/src/assets/css/form.scss
  frontend/src/components/reset-password/reset-password.tsx
Labels: frontend, fix

#115 Connect Search page with backend
  backend/src/services/cars/cars.service.ts
  frontend/src/common/enums/car/options.enum.ts
  frontend/src/common/types/advanced-auto-filter/advanced-auto-filter.ts
  frontend/src/common/types/car-list-item/car-list-item.ts
  frontend/src/common/types/complete-set/complete-set.ts
  frontend/src/common/types/types.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/car-list-item/car-list-item.tsx
  frontend/src/components/complete-set-table/complete-set-table-collapsed.tsx
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/search-page/search-page.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/helpers/object-to-query.ts
  frontend/src/store/queries/cars/index.ts
  shared/src/common/types/cars/complectation.ts
Labels: backend, frontend

#112 Add advanced filter search button + some changes in simple form button
  backend/prisma/seed.ts
  backend/src/controllers/new-cars/new-cars.ts
  frontend/package.json
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/styles.module.scss
  frontend/src/components/characteristics-list/characteristics-group/characteristics-group.tsx
  frontend/src/components/characteristics-list/characteristics-list.tsx
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/queries/cars/index.ts
  frontend/src/store/queries/index.ts
Labels: frontend

#113 fix tabs in drawer, new car card's styles
  frontend/src/components/landing-page/components/drawer/drawer.tsx
  frontend/src/components/landing-page/mock-new-cars.ts
  frontend/src/components/new-car-card/new-car-card.tsx
  frontend/src/components/new-car-card/styles.module.scss
Labels: frontend, fix

#124 Fix general content width
  frontend/src/components/administration/administration.tsx
  frontend/src/components/common/page-container/page-container.tsx
  frontend/src/components/common/page-container/styles.module.scss
  frontend/src/components/header/header.module.scss
  frontend/src/components/header/header.tsx
  frontend/src/components/personal-page/personal-page.tsx
  frontend/src/components/search-page/search-page.tsx
Labels: frontend, fix

#125 change paths to reset-password templates
  backend/src/services/auth/auth.service.ts
Labels: backend, fix

#127 Added fetched data files
  .gitignore
  backend/.gitignore
  backend/api-autoria/cars/fetched-data/body-types.json
  backend/api-autoria/cars/fetched-data/cities.json
  backend/api-autoria/cars/fetched-data/colors.json
  backend/api-autoria/cars/fetched-data/drivetrains.json
  backend/api-autoria/cars/fetched-data/fetched-data.ts
  backend/api-autoria/cars/fetched-data/fuel-types.json
  backend/api-autoria/cars/fetched-data/manufacturers.json
  backend/api-autoria/cars/fetched-data/regions.json
  backend/api-autoria/cars/fetched-data/transmission-types.json
Labels: backend, fix

#128 fix (prisma)
  backend/package.json
  backend/yarn.lock
Labels: fix

#120 added search by name for user management and fixed sending email after signup
  backend/src/controllers/users/users.controller.ts
  backend/src/services/auth/auth.service.ts
  backend/src/services/mail-verification/send.service.ts
  backend/src/services/users/users.service.ts
  frontend/src/components/administration/administration.tsx
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/users-list-container.tsx
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/hooks/common/hook.ts
  frontend/src/store/queries/users/index.ts
  yarn.lock
Labels: backend, frontend, fix

#123 Create mobile layout for landing page
  frontend/src/assets/css/form.scss
  frontend/src/components/cars-categories/cars-categories.tsx
  frontend/src/components/cars-categories/styles.module.scss
  frontend/src/components/common/button-fill/styles.module.scss
  frontend/src/components/common/button-outline/styles.module.scss
  frontend/src/components/landing-page/components/drawer/drawer.tsx
  frontend/src/components/landing-page/styles.module.scss
Labels: frontend

#129 Fix email validation sign-in/sign-up
  shared/src/common/enums/validation/user-validation-message.enum.ts
  shared/src/validation-schemas/sign-in/sign-in.validation-schema.ts
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Labels: frontend, fix

#133 fixed font for input fields
  frontend/src/components/common/input-field/styles.module.scss
Labels: fix

#137 Fix/facebook callback url
  backend/src/middlewares/auth/strategies/facebook.strategy.ts
  frontend/src/components/reset-password/reset-password.tsx
Labels: fix

#140 fix/Bug_19 Min-Max fields selection change doesn't work
  frontend/src/components/common/range-selector/range-selector.tsx
Labels: frontend, fix

#139 fix/font for placeholder of input fields
  frontend/src/components/common/input-field/styles.module.scss
Labels: fix

#138 fix/sign-up-fullname-validation
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Labels: fix

#130 Fix/brand details state + bodyTypeId
  frontend/src/common/enums/car/car-filters-names.enum.ts
  frontend/src/common/enums/car/ranges.ts
  frontend/src/common/types/cars/checkbox-list-data.type.ts
  frontend/src/common/types/cars/filters.type.ts
  frontend/src/common/types/cars/range-item.type.ts
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/components/advanced-auto-filter/brand-details/brand-details.tsx
  frontend/src/components/common/checkbox-list/checkbox-list.tsx
  frontend/src/components/common/range-selector/range-selector.tsx
  frontend/src/components/common/spinner/spinner.tsx
  frontend/src/components/common/spinner/styles.module.scss
  frontend/src/components/simple-auto-filter/simple-auto-filter.tsx
  frontend/src/store/car-filter/slice.ts
  frontend/yarn.lock
Labels: frontend, fix

#141 Fixed complectations set expand button
  frontend/src/components/car-list-item/styles.module.scss
  frontend/src/components/complete-set-table/complete-set-table-collapsed.tsx
  frontend/src/components/complete-set-table/complete-set-table.tsx
  frontend/src/components/complete-set-table/styles.module.scss
Labels: frontend, fix

#142 Fixed email verification Bug_17,
  backend/src/services/mail-verification/send-activation-link/templates/logo.svg
  frontend/src/common/enums/app/storage-key.enum.ts
  frontend/src/components/mail-verification/verification-failed/mail-verification-failed.tsx
  frontend/src/components/mail-verification/verification-failed/styles.module.scss
  frontend/src/components/mail-verification/verification-failed/validation-schema.ts
  frontend/src/components/mail-verification/verification-success/mail-verification-success.tsx
  frontend/src/components/mail-verification/verification-success/styles.module.scss
  frontend/src/components/sign/components/sign-up-form/sign-up-form.tsx
  shared/src/validation-schemas/email/email-validation-schema.ts
  shared/src/validation-schemas/validation-schemas.ts
Labels: backend, frontend, fix

#143 Fixed cars data
  backend/api-autoria/cars/brands-with-models.ts
  backend/api-autoria/cars/cars-data.ts
Labels: backend, fix

#145 fixed typescript version
  package.json
  yarn.lock
Labels: fix

#144 Fix/Bug_18 Search results empty when no filter selected
  frontend/src/components/advanced-auto-filter/advanced-auto-filter.tsx
  frontend/src/helpers/car-filters/is-filters-empty.ts
Labels: frontend, fix

#146 fix-app-title-name-and-icon
  frontend/index.html
Labels: fix

#147 fix/personal page content width
  frontend/src/components/personal-page/personal-page.tsx
Labels: fix

#148 fix bug_25 Top AutoRia section should display 8 cars
  frontend/src/components/landing-page/mock-top-cars.ts
Labels: bug

#134 adapt emails to mobile layout, make them single-styled
  backend/src/helpers/mailtrap/templates/reset-password-request.ts
  backend/src/services/mail-verification/send-activation-link/templates/email.hbs
Labels: fix

#93 Create cars details panel
  backend/src/controllers/complectations/complectations.controller.ts
  backend/src/routes/complectations/complectations.router.ts
  backend/src/routes/routes.ts
  backend/src/server.ts
  backend/src/services/complectations/complectations.service.ts
  frontend/src/common/enums/app/env.enum.ts
  frontend/src/common/types/details-panel/details.panel.ts
  frontend/src/common/types/types.ts
  frontend/src/components/details-car-panel/details-car-panel.tsx
  frontend/src/components/details-car-panel/styles.module.scss
  frontend/src/helpers/utils/convert-price.ts
  frontend/src/store/queries/details-panel.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/queries/preferences/wishlist/index.ts
  shared/src/common/enums/api/api-path.enum.ts
  shared/src/common/types/complectations/complectations.ts
  shared/src/common/types/types.ts
Labels: backend, frontend

#95 History of viewed cars connected back with front
  backend/prisma/migrations/20220826135000_fix_user_viewed_car_fields/migration.sql
  backend/prisma/schema.prisma
  backend/src/common/types/prisma/prisma.ts
  backend/src/common/types/types.ts
  backend/src/controllers/viewed-cars/viewed-cars.controller.ts
  backend/src/helpers/helpers.ts
  backend/src/helpers/viewed-cars/viewed-cars.ts
  backend/src/services/viewed-cars/viewed-cars.service.ts
  frontend/src/common/types/history-of-viewed-cars/history-of-viewed-cars.ts
  frontend/src/common/types/types.ts
  frontend/src/components/personal-page/personal-page.tsx
  frontend/src/components/reviewed-cars-grid/reviewed-cars-grid.tsx
  frontend/src/components/reviewed-cars/reviewed-cars.tsx
  frontend/src/components/reviewed-cars/styles.module.scss
  frontend/src/components/short-car-card/short-car-card.tsx
  frontend/src/components/viewed-cars/components/short-car-card/short-car-card.tsx
  frontend/src/components/viewed-cars/components/short-car-card/styles.module.scss
  frontend/src/components/viewed-cars/components/viewed-cars-grid/style.module.scss
  frontend/src/components/viewed-cars/components/viewed-cars-grid/viewed-cars-grid.tsx
  frontend/src/components/viewed-cars/styles.module.scss
  frontend/src/components/viewed-cars/viewed-cars.tsx
  frontend/src/store/queries/api-routes.ts
  frontend/src/store/queries/history-viewed-cars/index.ts
  frontend/src/store/queries/index.ts
  shared/src/common/types/types.ts
  shared/src/common/types/viewed-cars/viewed-cars-post-dto.type.ts
  shared/src/common/types/viewed-cars/viewed-cars.ts
Labels: backend, frontend

#154 fix Bug_04 - spaces validation in fullname
  shared/src/validation-schemas/sign-up/sign-up.validation-schema.ts
Labels: fix

#155 Fixed Bug_26 - undefined data while loading filter results
  frontend/src/components/car-list-item/car-list-item.tsx
Labels: frontend, fix

#151 Add access token renewal
  backend/src/controllers/auth/auth.controller.ts
  backend/src/dtos/execptions/error.dto.ts
  backend/src/helpers/token/verify-token/verify-token.helper.ts
  backend/src/middlewares/exceptions/exceptions.middleware.ts
  backend/src/routes/auth/auth.router.ts
  backend/src/services/auth/auth.service.ts
  frontend/package.json
  frontend/src/common/enums/api/api-path.enum.ts
  frontend/src/components/sign/components/sign-in-form/sign-in-form.tsx
  frontend/src/components/sign/components/sign-with-oauth/sign-with-oauth.tsx
  frontend/src/store/auth/middlewares.ts
  frontend/src/store/auth/slice.ts
  frontend/src/store/queries/index.ts
  frontend/src/store/store.ts
  frontend/yarn.lock
Labels: backend, frontend

#159 Fix bug 24
  backend/package.json
  backend/src/services/mail-verification/send-activation-link/send-link.ts
  backend/src/services/mail-verification/send-activation-link/templates/email-template.ts
  yarn.lock
Labels: backend, fix

#152 refactored edit user form for admin
  frontend/src/components/administration/users/dialog-edit-user.tsx
  frontend/src/components/administration/users/styles.module.scss
  frontend/src/components/administration/users/users-list.tsx
  frontend/src/hooks/app-form/app-form.hook.ts
  shared/src/validation-schemas/edit-user/edit-user.validation-schema.ts
  shared/src/validation-schemas/index.ts
Labels: frontend, fix
